body {
    background-color:lightslategray;
    margin-bottom: 200px; 
}
header {
    background-color :white;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    position: absolute;
    top: 0px;
    right: 0px;

}
h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, serif;
    padding: 20px;
    color: white;
    position: relative;
    left: 100px;
    display: inline-block;
    top: 22px;
    font-size: 30px
}
h2 {
    color: #4aaaa5;
    padding: 8px;
    font-size: 30px
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    position:relative;
    left: 700px;
    display: inline-block;
}
#content {
    background-color: white;
    border-style: solid 2px grey;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    position:relative;
    top: 100px
}
img {
    float:left;
    padding: 20px;
    width: 200px;
}
p {
    padding: 20px;
}
footer {
    background-color: #666666;
    border-top: solid 10px #4aaaa5;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
form {
    position: relative;
    top: 200px;
    text-align: left;
}
#contacts {
    background-color:white;
    border-style: solid 2px grey;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    position:relative;
    top: 200px
}
.pics {
    width:150px;
    height:150px
}
#projects {
    background-color: white;
    border-style: solid 2px grey;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    position:relative;
    top: 200px
}
section {
    background-color:white;
    border-style: solid 2px grey;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 200px
}